@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}


<h1>Restaurants</h1>


<form method="get">
    <div class="form-group">

        <div class="input-group-append">
            <input type="search" class="form-control mr-4" asp-for="SearchTerm" />
            <button class="btn btn-secondary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-sm btn-outline-dark" asp-page="Detail" asp-route-id="@restaurant.Id">Details</a>
            </td>
        </tr>
    }
</table>


<p>@Model.Message</p>
